html, body
    margin: 0
    padding: 0

.l-modal__htmlBody
    width: 100%
    height: 100%
    overflow: hidden
    -webkit-overflow-scrolling: touch

.l-modal,
.l-modal__overlay
    width: 100%
    height: 100%
    top: 0
    left: 0
    &:active,
    &:focus
        outline: none

.l-modal
    position: fixed
    z-index: 2000
    background: rgba(255, 255, 255, 0.9)

    display: flex
    align-items: center
    justify-content: center

    &:active,
    &:focus
        outline: none

.l-modal__overlay,
    position: absolute
    z-index: 1

.l-modal__close
    display: block
    position: absolute
    top: 25px
    right: 25px
    overflow: hidden
    border: none
    outline: none
    z-index: 3
    width: 40px
    height: 40px
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAyMCAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNMjAgMTBsLTQtNC02IDYtNi02LTQgNCA2IDYtNiA2IDQgNCA2LTYgNiA2IDQtNC02LTYgNi02eiI+PC9wYXRoPjwvc3ZnPg==")
    background-repeat: no-repeat
    background-position: center center
    background-size: 25px
    background-color: red
    border-radius: 5px

.l-modal__box
    max-width: 50%
    position: relative
    z-index: 2
    background-color: red
    padding: 1em

// Effects
.l-modal_hidden
    visibility: hidden
    transform: translateY(-100%)
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s

.l-modal_visible
    visibility: visible
    transform: translateY(0%)
    transition: transform 0.4s ease-in-out

// Custom
.l-modal_base
    background-color: rgba(white, 0.2)

.l-modal__overlay_blur
    filter: blur(3px)
    transition: all 0.4s ease-in-out
