doctype
html(lang='en')
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='description', content='Example')
        meta(name='author', content='Thiago Lagden')
        link(rel='stylesheet', type='text/css', href='modal.css')
        style.
            body {
                background: gray;
                -webkit-overflow-scrolling: touch;
                overflow-y: scroll;
            }

            .mar-b-20 {
                margin-bottom: 20px;
            }

            .hidden {
                display: none;
            }

            .alterado {
                max-width: auto;
                width: 60%;
                height: 60%;
                background-color: green;

                -webkit-overflow-scrolling: touch;
                overflow-y: scroll;
            }

    title Example
    body
        .container
            h1 Example
            button#ex1(type='button') Abre o modal
            button#ex2(type='button') Abre o modal2
            #modalContent
                | Esse é um exemplo do modal...
                br
                a(href="#xxx") link
                | <p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p><p>qwerty</p>
            - var n = 0
            while n < 100
                - n++
                p make scroll


        script(src='modal.pkg.js')
        script.
            function removeAllChildren(el) {
                var c;
                while (el.hasChildNodes()) {
                    c = el.lastChild;
                    if (c.hasChildNodes())
                        el.removeChild(removeAllChildren(c));
                    else
                        el.removeChild(c);
                }
                return el;
            };

            var modal = new Modal({
                content: '#modalContent',
                overlayElement: '.container',
                overlay: 'l-modal__overlay_blur',
                widget: 'l-modal_base',
                beforeOpen: function(modal, close, content) {
                    classie.add(content, 'alterado');
                }
            });

            modal.on('open', function(){
                console.log('abriu...');
            });

            modal.on('close', function(){
                console.log('fechou...');
            });

            var modal2 = new Modal({
                content: 'Isso é demais!!'
            });

            var btn = document.querySelector('#ex1');
            var btn2 = document.querySelector('#ex2');

            btn.addEventListener('click', function(event) {
                modal.open();
            });

            btn2.addEventListener('click', function(event) {
                modal2.open();
            });
